<h2>About Super Rentals</h2>

<p>Super Rentals is super cool. Super Rentals provides vehicles of super quality to super individuals. Rentals built here in Superland, Tennessee are of premium quality. They are made in America in the Ember Framework.</p>

{{#link-to 'contact'}}Click meow for contact info{{/link-to}}
