<h1>SUPER RENTALS SUPER WELCOME</h1>

We hope you find what you are looking for right meow.
<br>
{{#link-to 'about'}}Learn about us{{/link-to}}
<br>
{{#link-to 'contact'}}Contact info here{{/link-to}}
