<h1>SUPER RENTALS SUPER WELCOME</h1>

We hope you find what you are looking for right meow.
<br>

<ul>
    {{#each model as |rental|}}
        {{rental-tile rental=rental destroyRental="destroyRental"}}
    {{/each}}
</ul>

{{new-rental save2="save3"}}

{{#link-to 'about'}}Learn about us{{/link-to}}
<br>
{{#link-to 'contact'}}Contact info here{{/link-to}}
